/* Main css */
        
/* Top Padding for responsive navbar-top-fixed */
body { 
		/*padding-top: 60px;*/
		padding-bottom: 40px;
}
@media (max-width: 979px) {
	body { 
			padding-top: 0;
		 }
}

@media (min-width: 520px) and (max-width:739px) {
	.course-wrapper {
		margin-left:10%;
	}
}
@media (min-width: 740px) and (max-width:979px) {
	.course-wrapper {
		margin-left:20%;
	}
}
@media (min-width: 980px) {
	.course-wrapper {
		margin-left:30%;
	}
}

.course-wrapper {
	max-width:480px;
}

#custom-tweet-button a {
  display: block;
  padding: 2px 5px 2px 20px;
  background: url('https://twitter.com/favicons/favicon.ico') 1px center no-repeat;
}

#custom-tweet-button {
  
}

.span12 {
	margin:0;
}

li {
	display:inline-block;
}
ul {
	margin:0;
}
.uppernav {
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color:#eeeeee;
  	border-radius:5px;
  	border:1px groove #cccccc;
}
.uppernav .title {
	padding: 5px;
	font-size: 130%;
	font-weight: bold;
	color: #3355aa;
	vertical-align: middle;
}
.uppernav .title:hover {
	color: #3355aa;
}


#tweetlist {
  padding:5px;
  background-color:#aabbdd;
  border-radius:5px;
  border:1px solid #8888bb;
}

#tweetlist li{
  display: block;
  padding:5px;
}

#tweetlist li:not(:first-child){
  border-top:1px solid #8888bb;
}

#tweetlist div, a {
  padding:5px;
}

.twitter-title {
	font-size: 130%;
	font-weight: bold;
}
.twitter-text-small {
	font-size: 90%;
}
.twitter-text-small a {
	background-color:#b2c2df;
	border-radius:3px;
}
.twitter-text-small a:hover, .twitter-text-small a:active {
	background-color:#bfcfef;
}
.coursetitle {
	font-size: 140%;
	font-weight: bold;
}
