<div class="course-wrapper">
	<!--Tamin lisays, starts-->
	<div ng-hide="isFavorite(binding)" class="btn btn-info btn-small" ng-click="addFavorite( binding )">Add To Favorite</div>
	<div ng-show="isFavorite(binding)" ng-click="removeFavorite(binding)" class="btn btn-danger btn-small">Remove Favorite</div>
	<!--Tamin lisays, ends-->
	
	<div ng-show="noppa" class="courseinfo">
		<div class="coursetitle"><strong>{{noppa.data.course_id}} {{noppa.data.name}} ({{noppaExtra.data.credits}} cr)</strong></div>
		 <!-- Staff: {{noppaExtra.data.staff}} -->
		<div><a href="#/course/?id={{params.id}}" class="courselink">Go to course page</a></div>		
		<div><a href="http://noppa.aalto.fi/noppa/kurssi/{{params.id}}" target="_blank" class="courselink">Course in Noppa</a></div>
		<div class="lectureinfo">
		Lecture date: {{noppaLectureInfo.date | date:YYYY.MM.DD }}<br>
		Time: {{noppaLectureInfo.start_time}} - {{noppaLectureInfo.end_time}}<br>
		Location: {{noppaLectureInfo.location}}<br>
		Title: {{noppaLectureInfo.title}}<br>
		<div ng-show="noppaLectureInfo.content">Content: {{noppaLectureInfo.content}}<br></div>
		<div ng-show="noppaLectureInfo.materials">Materials for this lecture (links are from the noppa dev api and won't work): <ul><li ng-repeat="material in noppaLectureInfo.materials"><a href ='{{material.url}}'>{{material.title}}</a></li></ul></div>
		</div>
	</div>

	<div id="custom-tweet-button">
	  <a ng-href="https://twitter.com/intent/tweet?hashtags={{hash}}" target="_blank">Send some tweetback for this lecture.</a>
	</div>
	
	
	<div ng-show="tweets.data.results" class="twitter-wrapper">
		<div class="twitter-title"ng-show="tweets.data"><strong>Tweets</strong></div>
		<ul id="tweetlist">
			<li ng-repeat='result in tweets.data.results'>
				<div class="twitter-text">{{result.from_user_name}}: {{result.text}}</div>
				<div class="twitter-text-small">
					<a target="_blank" class="" href="https://twitter.com/{{result.from_user}}/status/{{result.id_str}}">{{result.created_at | twitterDateFilter:' +' }}</a>
					<a target="_blank" class="" href="https://twitter.com/intent/tweet?in_reply_to={{result.id}}&hashtags={{hash}}">reply</a>
					<a target="_blank" class="" href="https://twitter.com/intent/retweet?tweet_id={{result.id}}">retweet</a>
					<a target="_blank" class="" href="https://twitter.com/intent/favorite?tweet_id={{result.id}}">favorite</a>
				</div>
			</li>
		</ul>
	</div>
</div>

<!--{{noppaLectureInfo}}-->
