<div class="" ng-controller="MainControl">
	<ul>
		<li class=""><a href="#/schools" class="btn ">Find lectures</a></li>
		<!--Tamin lisays, starts-->
		<li class="" ng-model="favSize"><a href="#/showFavorites" class="btn " >Show favorites ({{favSize}})</a></li>
		<!-- Tamin lisays, ends-->
		<li class=" btn disabled" >
		    <input type="text" ng-model="keywords" class="search-query" placeholder="Keywords..." name="keywords">
		    <div class="btn" name="mysearch" ng-click="search()" >Search for courses</div>
		</li>
	</ul>
</div>
