<div class="span12" ng-controller="MainControl">
	<ul>
		<li class="span12"><a href="#/schools" class="btn span12">Find lectures</a></li>
		<!--Tamin lisays, starts-->
		<li class="span12" ng-model="favSize"><a href="#/showFavorites" class="btn span12" >Show favorites ({{favSize}})</a></li>
		<!-- Tamin lisays, ends-->
		<li class="span12 btn disabled" >
		    <input type="text" ng-model="keywords" class="search-query" placeholder="Keywords..." name="keywords">
		    <div class="btn" name="mysearch" ng-click="search()" >Search for courses</div>
		</li>
	</ul>
</div>
